<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>splash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>splash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimSplash.png</string>
            <key>size</key>
            <string>{254,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e11b4a3118490aee4b9f5ab1d202b9:49a2d368b0ea0a18efdf917b360c28b0:e70f3d8512ea8fed86cf2187fd1afd22$</string>
            <key>textureFileName</key>
            <string>AnimSplash.png</string>
        </dict>
    </dict>
</plist>
